{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
          integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://kit.fontawesome.com/4968fb9aa5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'application/style/base.css' %}">
    <link rel="stylesheet" href="{% static 'application/style/form.css' %}">
    <link rel="icon" type="image/x-icon" href="../../../pictures/favicon.ico">
    <title>Log IN</title>
    <link rel="stylesheet" href="{% static 'users/style/profile.css' %}">
</head>
<body style="">

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        {% if messages %}
        {% for mess in messages %}
        <div class="warnings alert-{{ mess.tags }} d-flex justify-content-center align-items-center">
            {{ mess }}

        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-3"></div>

</div>


<div style="min-height: 84vh;
    background-image: url('https://lh3.googleusercontent.com/1mrw3hGAAjNfnaAC6Yo8hr8V4t-1Y7cajch8_EIEWs6-VvHRZPIgpmoz60B6mZW7lz3T1HEVGsOL0-2qRva97-0HlKDJ7NvHif4NtSWaUFoou6989vp-EAxfPRTmkJVoN_vYyRNqV_hWzTSCx8vA_1HesR1uBWNhbsx4cF1mn5eVKg9nis9ZVLKn3Zi1yTYl9b_Xeb17o8Huo50X_dfmwXJpcg91tGu2pSBRXFgm8A7lhjAXME-81a-W4MhT1VJmxnmZe1iv6I5IaLsUWxpOFPNJ7c_I-42XfpsfNjjzhFHefy3m3v_BUEnrVAmLaEGdz8FM-xdrgEVuervkIqIqy14rcWn6_uNpUB90kZ2VaXB3-URAPMmilUgoeVUhqedZdxjtwOd6hcvrojkIGmB3ZfHnBro2VYY_Q1vLhPGdnoIX6hAjrEH8Br7qim4RwNeUBk6C60J8l5OP8tlABxsQ_nBj1nG7NwSIObj56UxUuLFUjiqUWCKxuVs6rZAMdkCWl93qkr6Im8BB_c-bXbSVyq241uhdPfygnrDBEqda4hHT5dgrlUlMjDC29Pp0mc7zBcRp_vmEz32Ec_woPr4IdRXQXfXQ_7w6V0xtTBoBXI-_RFBGFkcGh2DAQjchkBW_v-V6zUO9pPnUCdplF8y3m4gYNvB-7qSsE87O3TBDwZ9TQ012lR1pElGWqzjH98zm2y0-d6r3WNPQA1dtt216ft--TndYBKY1k18iZyVZUrpf5N-vL3zXHrMm7lZ1rqqn9XizX8ptLVbuXy2wMgANTbIYGPOJvyll83MHGO83HNTg40cG3z9hw0IGID6vbkPTjXTVi8x9tQt2jCydpCbExns-Y8ZWl54xWUsXatg=w452-h461-no?authuser=1');
    background-blend-mode: multiply;">
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="user-block mt-5">
            <h2 class="text-center">Sign in</h2>
            <div class="m-sm-5">
                <form method="post">
                    {% csrf_token %}
                    <p class="text-center">If you are student/teacher use your email instead username.</p>
                    {{ form| crispy }}
                    <div class="">
                        <button class="btn btn-success me-md-2" type="submit">Enter</button>
                        <a class="btn btn-danger" href="{% url 'registration' %}">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>

</div>
</div>

<nav class="bottom navbar-expand-sm navbar-dark bg-dark" style="padding: 0.5rem 1rem;">
  <div class="d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#"><i class="fas fa-arrow-circle-up"></i></a>
      <a href="{% url 'home' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Gau-logo.png" alt="" style="height: 80px; width: 80px;"></a>
    <div class="d-flex flex-column align-items-end">
        <p class="text-end align-self-end" style="color: white; font-size: 13px; font-weight: bold; margin-bottom: 0;"><b>Made by: Mohamed Ali F Msoud <i class="fas fa-copyright"></i></b></p>
        <p style="color: white; font-size:13px">№ 191701069</p>
    </div>
  </div>
</nav>


<script src="{% static 'forum/script/base.js' %}"></script>
</body>
</html>











