{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
          integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'application/style/base.css' %}">
    <link rel="stylesheet" href="{% static 'application/style/form.css' %}">
    <link rel="icon" type="image/x-icon" href="../../../pictures/favicon.ico">
    <title>My Questions</title>
    <link rel="stylesheet" href="{% static 'users/style/profile.css' %}">

    <style>
        .header-link:hover {
            opacity: 0.6;
            transition: all 0.2s ease;
        }
    </style>
</head>
<body>


<header>
    <div class="px-3 py-2 bg-dark">
        <div class="container d-flex justify-content-between align-items-center" style="">
            <div class="div">
                <img src="https://www.gau.edu.tr/storage//uploads/0/0/0/logotr-1580914525.png?vs=1" alt="gau-logo"
                     style="width: 190px;">
            </div>
            <div class="div">
                <ul class="nav col-12 col-lg-auto my-2 justify-content-end my-md-0 text-small">
                    <li>
                        <a href="{% url 'home' %}" class="nav-link header-link text-white">
                            <div class="d-flex align-items-center flex-column">
                                <div class=""><i class="fa-solid fa-house fa-xl"></i></i></div>
                                <div class="mt-1">Home</div>
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="{% url 'questions' %}" class="nav-link header-link text-white">
                            <div class="d-flex align-items-center flex-column">
                                <div class=""><i class="fa-solid fa-circle-question fa-xl"></i></div>
                                <div class="mt-1">Questions</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'changeImage' %}" class="nav-link header-link text-white">
                            <div class="d-flex align-items-center flex-column">
                                <div class=""><i class="fa-solid fa-user-tie fa-xl"></i></div>
                                <div class="mt-1">Avatar</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'changePassword' %}" class="nav-link header-link text-white">
                            <div class="d-flex align-items-center flex-column">
                                <div class=""><i class="fa-solid fa-shield fa-xl"></i></div>
                                <div class="mt-1">Security</div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-2">
        <div class="row" style="">
            <div class="col-sm-5">
            </div>
            <div class="col-lg-7 d-flex justify-content-between">
                <h1 style="margin: 0;">GAUASK</h1>
                <div class="div">


                    {% if user.is_authenticated %}
                    <a href="{% url  'logOut' %}" class="btn btn-primary me-2">Sign out</a>
                    {% else %}
                    <a href="{% url 'logIn' %}" class="btn btn-primary">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div style=" height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/1mrw3hGAAjNfnaAC6Yo8hr8V4t-1Y7cajch8_EIEWs6-VvHRZPIgpmoz60B6mZW7lz3T1HEVGsOL0-2qRva97-0HlKDJ7NvHif4NtSWaUFoou6989vp-EAxfPRTmkJVoN_vYyRNqV_hWzTSCx8vA_1HesR1uBWNhbsx4cF1mn5eVKg9nis9ZVLKn3Zi1yTYl9b_Xeb17o8Huo50X_dfmwXJpcg91tGu2pSBRXFgm8A7lhjAXME-81a-W4MhT1VJmxnmZe1iv6I5IaLsUWxpOFPNJ7c_I-42XfpsfNjjzhFHefy3m3v_BUEnrVAmLaEGdz8FM-xdrgEVuervkIqIqy14rcWn6_uNpUB90kZ2VaXB3-URAPMmilUgoeVUhqedZdxjtwOd6hcvrojkIGmB3ZfHnBro2VYY_Q1vLhPGdnoIX6hAjrEH8Br7qim4RwNeUBk6C60J8l5OP8tlABxsQ_nBj1nG7NwSIObj56UxUuLFUjiqUWCKxuVs6rZAMdkCWl93qkr6Im8BB_c-bXbSVyq241uhdPfygnrDBEqda4hHT5dgrlUlMjDC29Pp0mc7zBcRp_vmEz32Ec_woPr4IdRXQXfXQ_7w6V0xtTBoBXI-_RFBGFkcGh2DAQjchkBW_v-V6zUO9pPnUCdplF8y3m4gYNvB-7qSsE87O3TBDwZ9TQ012lR1pElGWqzjH98zm2y0-d6r3WNPQA1dtt216ft--TndYBKY1k18iZyVZUrpf5N-vL3zXHrMm7lZ1rqqn9XizX8ptLVbuXy2wMgANTbIYGPOJvyll83MHGO83HNTg40cG3z9hw0IGID6vbkPTjXTVi8x9tQt2jCydpCbExns-Y8ZWl54xWUsXatg=w452-h461-no?authuser=1');
    background-blend-mode: multiply;">
<main class="mt-2 container" style="width: 100%;">
    {% if messages %}
    {% for mess in messages %}
    <div class="warnings alert-{{ mess.tags }} d-flex justify-content-center align-items-center">
        {{ mess }}

    </div>
    {% endfor %}
    {% endif %}
    {% for question in questions %}
    <div class="col mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4>Title: {{ question.title }}</h4>
                <h5>Question: </h5>
                <h5 class="ml-5">{{ question.question }}</h5>
                <h6>Answer: </h6>
                <h6 class="ml-5">{{ question.answer }}</h6>
                <div class="d-flex flex-column justify-content-center align-items-end">
                    <p>Status : {{ question.status }}</p>
                    <p>To: {{ question.teacher }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</main>
    </div>


<script src="{% static 'forum/script/base.js' %}"></script>
</body>
</html>




